*{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body{
    background-color: white;
    color: black; 
}

.dark-mode {
    background-color: #2a2a2a;
    color: white;
  }

.dark-mode table th{
    background-color:#0000a9;
}

.dark-mode input{
    background-color: #2a2a2a;
    color: white;
}